#aa {
  color: red;
  text-align: center;
}
#bb {
  color: blue;
  text-align: center;
}
#cc {
  color: green;
  text-align: center;
}
#dd {
  color: purple;
  text-align: center;
}
#ee {
  text-align: center;
}